@* @model BaseTournamentViewModel
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Tournament Detail";
}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.TournamentType.Title</h5>
        <p class="card-text">@Model.TournamentType.Description</p>

        <div class="row">

            <div class="col">
                <h3>
                    MaxPlayerCount: @Model.MaxPlayers
                </h3>
                <h3>
                    Organizer: @Model.Organizer.UserName
                </h3>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    @if (Model.TournamentPlayer.Any())
                    {
                        <div class="card-header">
                            Players
                        </div>
                        <ul class="list-group list-group-flush">
                            @foreach (var tournamentPlayer in Model.TournamentPlayer)
                            {
                                <li class="list-group-item">@tournamentPlayer.Player.UserName</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="card-header">
                            No joined players yet
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (Model.Organizer.Id == UserManager.GetUserId(User))
        {
            <form asp-controller="Tournament" asp-action="Start">
                <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
                <button type="submit" class="btn btn-primary">Start</button>
            </form>
        }
        else
        {
            <a class="btn btn-primary" asp-area="" asp-controller="Tournament" asp-action="Join" asp-route-id="@Model.Id">Join</a>
        }
    </div>
</div> *@